<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= @title %></title>
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.form.js"></script>
    <script type="text/javascript" src="/javascripts/application.js" charset="utf-8"></script>
    <link href="/stylesheets/bootstrap.min.20110410112122.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="padding-top:50px">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Guess it</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a onclick="pageTracker._link(this.href); return false;" href="/">Paint</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
